profiles{
    slurm{
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.cacheDir = "${projectDir}/singularity-images/"
        queueSize = 50
        submitRateLimit = '1 sec'
    }
    
    local{
        process.executor = 'local'
        singularity.enabled = true
        singularity.cacheDir = "${projectDir}/singularity-images/"
        queueSize = 10
    }

    // define other executors
  
 }

 process{
    
    // cluster options    
    //queue = 'core' //e.g. core or node
    //clusterOptions='' // e.g. clusterOptions='-A project-name'
    
    // defualt allocation
    cpus = 1
    memory = 6.GB
    time = '10min'

    //Overriding, based on RACKHAM cluster

    withName: TBPROFILER_PROFILE {
        cpus = 10
		ext.args = "--txt"
        memory = 20.GB
        time='30min'    
    }
    withName: MAP_READS{
        cpus = 10
        memory = 16.GB
        time='60min'    
    }
     withName: REMOVE_CONTAM{
        cpus = 1
        memory = 2.GB
        time='60min'    
    }
    withName: VARIANT_CALL{
        cpus = 1
        memory = 16.GB
        time='120min'    
    }
    withName: PREDICT_DST{
        cpus = 5
        memory = 8.GB
        time='20min'    
    }
    withName: KRAKEN2_KRAKEN2{
        cpus = 5
        memory = 10.GB
        time='30min'
        ext.args='--quick'
    }
	withName: BRACKEN_BRACKEN{
        cpus = 1
        memory = 2.GB
        time='10min'
    }
}